<div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center">ASP<sup>®</sup> Subscription</h3>
      <p>Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada. Donec rutrum congue leo eget malesuada.</p>
      <p>Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit
        amet dui. Vivamus suscipit tortor eget felis porttitor volutpat.</p>

      <div class="col-xs-12 col-lg-10 offset-lg-2 padding-top-20px">
        <div class="row">
          <div class="col-lg-12">
            <a href="#" class="btn btn-primary button-color-default"><i class="fa fa-user padding-right-10px"></i> Subscribe</a> <span class="padding-left-10px">3 Months Subscription</span>
          </div><!-- .col -->
        </div><!-- .row -->

        <div class="row padding-top-10px">
          <div class="col-lg-12">
              <a href="#" class="btn btn-primary button-color-default"><i class="fa fa-user padding-right-10px"></i> Subscribe</a> <span class="padding-left-10px">6 Months Subscription</span>
          </div><!-- .col -->
        </div><!-- .row -->

        <div class="row padding-top-10px">
            <div class="col-lg-12">
                <a href="#" class="btn btn-primary button-color-default"><i class="fa fa-user padding-right-10px"></i> Subscribe</a> <span class="padding-left-10px">12 Months Subscription</span>
            </div><!-- .col -->
          </div><!-- .row -->
      </div><!-- .col -->
    </div><!-- .col -->
    <div class="col-md-6">
      <h3 class="text-center">ASP<sup>®</sup> Lifetime Membership</h3>
      <p>
        Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla quis lorem ut libero malesuada
        feugiat.
      </p>
      <p>
        Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Praesent sapien massa, convallis a pellentesque nec, egestas
        non nisi. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
      </p>
      <p>
        Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada
        feugiat.
      </p>

      <div class="text-center">
        <a routerLink="/lifetime" class="btn btn-primary button-color-default"><i class="fa fa-user padding-right-10px"></i> Lifetime Subscription</a>
      </div>
    </div><!-- .col -->
  </div><!-- .row -->
</div>
